<% require 'date' %>
<% @calendar.events.inject(nil) do |previous, event| %>
  <% if @calendar.next_event == event && ((@calendar.next_event.begin_time - DateTime.now) * 24 * 60).to_i <= 15 %>
    <div class="welcome-panel particletext confetti
      <% if ((@calendar.next_event.begin_time - DateTime.now) * 24 * 60) >= 14.5 %>
        animate-on-load
      <% elsif ((@calendar.next_event.begin_time - DateTime.now) * 24 * 60).to_i >=0%>
        stay-there
      <% end %>
    ">
      <div class="X">
          <img src = "/ic-close.svg" id = "close-welcome-message">
      </div>
        <% @calendar.location.slice!("TSE-2-") %>
        <h2><%= @calendar.location %></h2>
        <h1><%= event.welcome %>
          <% if event.client != nil %>
            <%= event.client %>.
          <% else %>
            <br><span><%= event.summary %></span>
          <% end %>
        </h1>
        <p>Your meeting is in <%= @calendar.time_left %>.</p>
    </div>
  <% elsif @calendar.current_event == event && ((DateTime.now - @calendar.current_event.begin_time) * 24 * 60) <= 6 %>
    <div class="welcome-panel animate-on-load particletext confetti
      <% if ((DateTime.now - @calendar.current_event.begin_time) * 24 * 60) >=1 %>
        stay-there
      <% end %>
    ">
      <div class="X">
          <img src = "/ic-close.svg" id = "close-welcome-message">
      </div>
        <% @calendar.location.slice!("TSE-2-") %>
        <h2><%= @calendar.location %></h2>
        <h1><%= event.welcome %>
          <% if event.client != nil %>
            <%= event.client %>.
          <% else %>
            <br><span><%= event.summary %></span>
          <% end %>
        </h1>
        <p>Your meeting is starting now!</p>
    </div>
  <% end %>
<% end %>

<div class="mod-meeting-display <%= @calendar.available? ? "available" : "in_use" %>">

  <div class="mod-status">
    <div class="room-name">
      <% @calendar.location.slice!("TSE-2-") %>
      <h1><%= @calendar.location %></h1>
    </div>

    <div class="status">

      <% d = DateTime.now.strftime("%d/%m") %>
      <% specialDay = false %>

      <% celebrations = {
          "04/12" => "Happy Workiversary, Shelby!",
          "15/01" => "Happy Birthday, Tara!",
          "19/01" => "Happy Birthday, Ebony!",
          "21/01" => "Happy Birthday, Raina!",
          "27/01" => "Happy Birthday, Nick!",
          "15/02" => "Happy Workiversary, Corey!",
          "18/02" => "Happy Birthday, Maxel!",
          "25/02" => "Happy Birthday, Philip!",
          "12/03" => "Happy Birthday, Corey!",
          "01/03" => "Happy Birthday, ThreeSixtyEight!!!",
          "18/04" => "Happy Birthday, Kara!",
          "06/05" => "Happy Birthday, Sherin!",
          "11/05" => "Happy Workiversary, Tara!",
          "16/05" => "Happy Workiversary, Bo!",
          "22/05" => "Happy Birthday, Jeremy!" ,
          "22/05" => "Happy Workiversary, Justin!",
          "01/06" => "Happy Birthday, Jay!" ,
          "02/06" => "Happy Birthday, Shelby!",
          "14/06" => "Happy Birthday, Gus!",
          "12/08" => "Happy Birthday, Bo!",
          "20/08" => "Happy Birthday, Adam!",
          "21/08" => "Happy Workiversary, Ebony!",
          "29/08" => "Happy Workiversary, Adam!",
          "02/09" => "Happy Birthday, Kenny!",
          "19/09" => "Happy Workiversary, Jay!",
          "25/09" => "Happy Workiversary, Phil!",
          "26/09" => "Happy Workiversary, Kara!",
          "01/11" => "Happy Birthday, Sahil!",
          "05/11" => "Happy Birthday, Dusty!" ,
          "01/12" => "Happy Workiversary, Maxel!",
          "05/12" => "Happy Birthday, Justin!",
         } %>
         <% celebrations.each do |date, message| %>
            <% if d == date %>
              <marquee direction="down" width="650" height="500" behavior="alternate" style="position:absolute; font-size: 45px; width: 620px; height: 410px">
                <marquee behavior="alternate">
                  <%= message %>
                </marquee>
              </marquee>
              <% specialDay = true %>
            <% end %>
         <% end %>

        <% if !specialDay %>
          <%= @calendar.exclamation %>
          <br />
          <%= @calendar.available? ? "This room is currently available." : "This room is currently unavailable." %>
          <% specialDay = false %>
        <% end %>

        <% if specialDay %>
          <% if @calendar.available? %>
              <img src = "/greenCarlton.gif" id = "carlton">
            <% else %>
              <img src = "/redCarlton.gif" id = "carlton">
            <% end %>
            <br>  
            <h1> <%= @calendar.exclamation %> 
            <br>
            <%= @calendar.available? ? "This room is currently available." : "This room is currently unavailable." %> </h1>
        <% end %>
        
    </div>

    <div class="detailsBox">
      <% @calendar.events.inject(nil) do |previous, event| %>
          <% if @calendar.next_event == event && @calendar.available?%>
            <div class="nextMeeting">
              Next meeting begins at <%= event.begin_time.strftime("%l:%M %p")%>.
            </div>
          <% end %>
      <% end %>
    </div>

    <div class="buttons">
      <% if @calendar.available? %>
        <% if @calendar.next_event == nil %>
            <div class="btnContainer">
              <%= link_to '<button class="btnAddMeeting" name="30mButton" type="button" >BOOK NEXT 30 MINS</button>'.html_safe, book30_path(@calendar.calendar_id)%>
            </div>
            <div class="btnContainer">
              <%= link_to '<button class="btnAddMeeting" name="1hrButton" type="button" >BOOK NEXT HOUR</button>'.html_safe, bookHour_path(@calendar.calendar_id)%>
            </div>
        <% else %>
          <% if ((@calendar.next_event.begin_time - DateTime.now) * 24 * 60).to_i >= 30 %>
            <div class="btnContainer">
              <%= link_to '<button class="btnAddMeeting" name="30mButton" type="button">BOOK NEXT 30 MINS</button>'.html_safe, book30_path(@calendar.calendar_id)%>
            </div>
          <% end %>
          <% if ((@calendar.next_event.begin_time - DateTime.now) * 24 * 60).to_i  >= 60 %>
            <div class="btnContainer">
              <%= link_to '<button class="btnAddMeeting" name="1hrButton" type="button">BOOK NEXT HOUR</button>'.html_safe, bookHour_path(@calendar.calendar_id)%>
            </div>
          <% end %>
          <% if ((@calendar.next_event.begin_time - DateTime.now) * 24 * 60).to_i  < 30 %>
            <div class="btnContainer">
              <%= link_to '<button class="btnBookAvailable" name="BookTilNext" type="button">BOOK AVAILABLE TIME</button>'.html_safe, bookTil_path(@calendar.calendar_id)%>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>



    <% @calendar.events.inject(nil) do |previous, event| %>
      <% if @calendar.current_event == event %>
        <div class="nextOpening">
          Next opening at
          <% if @calendar.next_event != nil && @calendar.after_event(@calendar.next_event) != nil && @calendar.after_event(@calendar.next_event).begin_time == @calendar.next_event.end_time %>
            <%= @calendar.after_event(@calendar.next_event).end_time.strftime("%l:%M %p") %>
          <% elsif @calendar.next_event != nil && @calendar.current_event.end_time == @calendar.next_event.begin_time %>
            <%= @calendar.next_event.end_time.strftime("%l:%M %p") %>
          <% else %>
            <%= @calendar.current_event.end_time.strftime("%l:%M %p") %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <!-- <div class="available-rooms">
    <% if @other_available_calenders.present? %>
      <% @other_available_calenders.each do |c| %>
        <% available_for = c.next_event.blank? ? "the rest of the day" : c.time_left(suffix: "")%>
        <% c.location.slice!("TSE-2-") %>
        <p><%= "#{c.location} is available for #{available_for}." %></p>
      <% end %>
    <% else %>
      <p>No other rooms are available.</p>
    <% end %>
    </div> -->
  </div>

<div class="mod-calendar">
    <% 8.upto(11).each do |hour| %>
      <div class="line hour-<%= hour %>-full"></div>
      <div class="line hour-<%= hour %>-half"></div>
      <div class="time time-<%= hour %>"><%= hour %>:00am</div>
    <% end %>
      <div class="line hour-12-full"></div>
      <div class="line hour-12-half"></div>
      <div class="time time-12">12:00pm</div>
    <% 13.upto(18).each do |hour| %>
      <div class="line hour-<%= hour %>-full"></div>
      <div class="line hour-<%= hour %>-half"></div>
      <div class="time time-<%= hour %>"><%= hour-12 %>:00pm</div>
    <% end %>

    <% @calendar.events.inject(nil) do |previous_event, event| %>
      <%= render partial: "events/event", locals: { event: event, previous_event: previous_event, calendar: @calendar } %>
      <% event %>
    <% end %>

    <span class="now" style="top: <%= seconds_to_px(Time.zone.now.seconds_since_midnight) %>px;">
      <span class="label"><%= l(Time.zone.now, format: :time_only) %></span>
    </span>
  </div>
</div>

<%= javascript_include_tag "app" %>
