<% @calendar.events.inject(nil) do |previous, event| %>
  <div class="welcome-panel
    <% if ((@calendar.next_event.begin_time - DateTime.now) * 24 * 60).to_i <= 15 %>
      slide-out
    <% end %>
  ">
    <div class="X">
        <img src = "/ic-close.svg" id = "image" onclick="myFunction()">
    </div>
    <% if @calendar.next_event == event && ((@calendar.next_event.begin_time - DateTime.now) * 24 * 60).to_i <= 15 %>
      <% @calendar.location.slice!("TSE-2-") %>
      <h2><%= @calendar.location %></h2>
      <h1><%= event.welcome %><%= event.client %>.</h1>
      <p>
        Your meeting is in <%= @calendar.time_left %>.
      </p>
    <% end %>
  </div>
  <% end %>


<div class="mod-meeting-display <%= @calendar.available? ? "available" : "in_use" %>">

  <div class="mod-status">

    <div class="room-name">
      <% @calendar.location.slice!("TSE-2-") %>
      <h1><%= @calendar.location %></h1>
    </div>

    <div class="status">
      <%= @calendar.available? ? "Woohoo! This room is currently available." : "Whoops! This room is currently in use." %>
    </div>

    <% @calendar.events.inject(nil) do |previous, event| %>
      <div class="nextOpening">
        <% if @calendar.current_event == event %>
          <%= event.client %>
          <%= event.check_event %>
          Next opening at
          <% if @calendar.next_event != nil && @calendar.after_event(@calendar.next_event) != nil %>
            <%= @calendar.after_event(@calendar.next_event).end_time.strftime("%l:%M %p") %>
          <% elsif @calendar.next_event != nil && @calendar.current_event.end_time == @calendar.next_event.begin_time %>
            <%= @calendar.next_event.end_time.strftime("%l:%M %p") %>
          <% else %>
            <%= @calendar.current_event.end_time.strftime("%l:%M %p") %>
          <% end %>
        <% end %>
      </div>

      <div class="nextMeeting">
        <% if @calendar.next_event == event && @calendar.available?%>
          Next meeting begins at <%= event.begin_time.strftime("%l:%M %p")%>.
        <% end %>
      </div>
    <% end %>

    <div class="buttons">
      <% if @calendar.available? %>
        <% if @calendar.next_event == nil %>
          <%= link_to '<button name="30mButton" type="button" >BOOK NEXT 30 MINS</button>'.html_safe, book30_path(@calendar.calendar_id)%>
          <%= link_to '<button name="1hrButton" type="button" >BOOK NEXT HOUR</button>'.html_safe, bookHour_path(@calendar.calendar_id)%>
        <% else %>
          <% if ((@calendar.next_event.begin_time - DateTime.now) * 24 * 60).to_i >= 30 %>
            <%= link_to '<button name="30mButton" type="button">BOOK NEXT 30 MINS</button>'.html_safe, book30_path(@calendar.calendar_id)%>
          <% else %>
            <%= link_to '<button name="30mButton" type="button" disabled>BOOK NEXT 30 MINS</button>'.html_safe, book30_path(@calendar.calendar_id)%>
          <% end %>
          <% if ((@calendar.next_event.begin_time - DateTime.now) * 24 * 60).to_i  >= 60 %>
            <%= link_to '<button name="1hrButton" type="button">BOOK NEXT HOUR</button>'.html_safe, bookHour_path(@calendar.calendar_id)%>
          <% else %>
            <%= link_to '<button name="1hrButton" type="button" disabled>BOOK NEXT HOUR</button>'.html_safe, bookHour_path(@calendar.calendar_id)%>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to '<button name="30mButton" type="button" disabled>BOOK NEXT 30 MINS</button>'.html_safe, book30_path(@calendar.calendar_id)%>
        <%= link_to '<button name="1hrButton" type="button" disabled>BOOK NEXT HOUR</button>'.html_safe, bookHour_path(@calendar.calendar_id)%>
      <% end %>
    </div>

    <div class="available-rooms">
    <% if @other_available_calenders.present? %>
      <% @other_available_calenders.each do |c| %>
        <% available_for = c.next_event.blank? ? "until the end of the day" : c.time_left(suffix: "")%>
        <% c.location.slice!("TSE-2-") %>
        <p><%= "#{c.location} is available for #{available_for}" %></p>
      <% end %>
    <% else %>
      <p>No other rooms are available.</p>
    <% end %>
    </div>
  </div>

  <div class="mod-calendar">
    <% 8.upto(11).each do |hour| %>
      <div class="line hour-<%= hour %>-full"></div>
      <div class="line hour-<%= hour %>-half"></div>
      <div class="time time-<%= hour %>"><%= hour %>:00am</div>
    <% end %>
      <div class="line hour-12-full"></div>
      <div class="line hour-12-half"></div>
      <div class="time time-12">12:00pm</div>
    <% 13.upto(20).each do |hour| %>
      <div class="line hour-<%= hour %>-full"></div>
      <div class="line hour-<%= hour %>-half"></div>
      <div class="time time-<%= hour %>"><%= hour-12 %>:00pm</div>
    <% end %>

    <% @calendar.events.inject(nil) do |previous_event, event| %>
      <%= render partial: "events/event", locals: { event: event, previous_event: previous_event, calendar: @calendar } %>
      <% event %>
    <% end %>

    <span class="now" style="top: <%= seconds_to_px(Time.zone.now.seconds_since_midnight) %>px;">
      <span class="label"><%= l(Time.zone.now, format: :time_only) %></span>
    </span>
  </div>
</div>

<%= javascript_include_tag "app" %>
